@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #090A1E;
        --background-primary: #343843;
        --background-secondary: #4D5162;
    }
}

@layer base {
    body {
        @apply bg-piloup;
    }
}
